@import "nib"
@import "normalize.styl"
@import "fonts.styl"

/*
	VARIABLES COLORES
______________________________________________________
*/

fucsia = #AF336D
gris_claro = #818181
gris_fondo = #F0F0F0
gris_intermedio = #4D4D4D
gris_oscuro = #333333

a
	text-decoration none

body
	background gris_fondo
	font-family 'Varela Round', sans-serif
	font-size 16px
	
img	
	vertical-align top
	
ul
	margin 0
	padding 0	
	
/*
	CLASES OOCSS
______________________________________________________
*/

.border-bottom
	border-bottom 1px solid gris_claro 

.center-block
	margin 0 auto
	
.center-text
	text-align center
	
.imageContainer
	margin 0
	
.left
	float left
	
.padding
	padding 1em	
	
.padding-TopBotm
	padding 1em	0			

.relative
	position relative
	
.right
	float right		
	
.right-text
	text-align right
		
.round
	border-radius 50%
	overflow hidden
	
.wrap
	width 1000px										

/*COMPONENTE HEADER*/

.Header
	height 3.5em

/*COMPONENTE LOGO*/
	
.Logo
	display none		

.input
	border 1px solid gris_claro
	border-radius 5px
	height 2.5em
	padding 0 1em 0 2em		

.Search-icon
	color gris_claro
	left .5em
	position absolute
	top .8em
	
.close-icon
	color gris_claro
	font-size 1.3em				
	position absolute
	right .5em
	top .5em

/*COMPONENTE MENU PRINCIPAL*/

.Menu
	display none
	
	&-button
		color gris_oscuro
		left .5em
		margin-top -10px
		position absolute
		top 50%	
	
	&-title
		font-size 1.1em
		line-height 3.5em	
		text-align center

/*VISTA TOP HITS*/

.Tophits
	font-size 0
	/*antes 1.4rem*/
	padding 0.9rem
	text-align center	

/*COMPONENTE SONG*/

.Song
	display inline-block
	font-size 1rem
	margin-bottom 1em
	margin-right 1em
	text-align left
	vertical-align: top;
	width 8rem
	
	&:nth-child(even)
		margin-right 0	
	
	&-image
		width 128px	
	
	&-name
		color gris_oscuro
	
	&-author
		color gris_claro
	
	&-name
	&-author
		margin .5em 0

/*VISTA DE REPRODUCCIÓN*/
	
.Playing
	&.small
		width 20em

	&-image
		width 320px
	
.Actions
	background rgba(black,.3)
	bottom 0
	left 0
	position absolute
	right 0
	
.Action
	color white
	font-size 1.2em
	margin-right .5em
	
	&:last-child
		margin-right 0
		
	&.gray
		color gris_claro
		
.Play
	.Action
		margin-right 1.9em	
		
		&:last-child
			margin-right 0			

/*BARRA PLAYING*/
		
.Progress
	margin 1em 0
	position relative
	
	&-min		
	&-max
		font-size .8em
		position absolute
		top -5px
		
	&-min
		left 0
		
	&-max		
		right 0				

	&-total
		background gris_claro
		border-radius 5px
		height 5px
		margin 0 auto
		width 75%
		
	&-state
		animation 10s Estado linear infinite
		background fucsia
		border-radius 5px
		height 5px
		position relative
		width 30%
		
	&-circle
		animation 1s Circulo infinite
		background gris_oscuro
		border-radius 50%
		height 10px
		position absolute
		right 0	
		top -2px
		width 10px
	
/*VISTA DE ÁLBUM*/					

.Album		
	padding 0 2em	
	vertical-align top
	width auto	
	
	&-list		
		list-style none		
	
	&-item
		color gris_intermedio
		padding 1em	0
		&:first-child
			border-top 1px solid gris_claro
		
	.Action
		font-size .8em	

/*
	ANIMACIONES
______________________________________________________
*/

@keyframes Estado
	0%
		width 0%
	100%
		width 100%
		
@keyframes Circulo
	0%
		transform scale(1)
	100%
		transform scale(2)
		opacity 0			
		
/*
	TABLET
______________________________________________________
*/

	/*antes 480px*/
@media screen and (min-width:460px)	

	/*VISTA DE REPRODUCCIÓN*/
		
	.Playing
		
		&.medium
			width auto
			
		&-image
			width 100%
		
	/*COMPONENTE SONG*/			
		
	.Song
		&:nth-child(even)
			margin-right 1em
			
	
/*
	DESKTOP
______________________________________________________
*/

@media screen and (min-width:1000px)

	/*COMPONENTE HEADER*/

	.Header
		height auto
		&.border-bottom
			border-bottom none

	/*COMPONENTE LOGO*/

	.Logo
		background white
		display block
		overflow hidden
		padding 1.3em 0	

		&-image
			width 122px
		
	/*COMPONENTE USUARIO*/
	
	.User
		padding-left 2.3em
		width: 30%;	

		&-image
			width 38px
	
		&-name
			color gris_claro
			margin-left .5em
			position relative
			top 9px
				
			&:after
				border-left 7px solid transparent
				border-right 7px solid transparent
				border-top 9px solid gris_claro
				content ""
				display inline-block
				margin-left .4em
		
	/*COMPONENTE MENU PRINCIPAL*/					

	.Menu
		display block
		height 3.6em
		
		/*Ocultamos el titulo y el boton del menu*/

		&-button
		&-title
			display none
		
		&-list
			padding 0					
		
		&-item
			display inline-block
			line-height 3.6em
			padding-top 3px;		
		
		&-link
			color gris_oscuro
			padding 1em	
			text-transform uppercase		
			&:hover
				border-top 5px solid gris_claro		
	
			
	/*VISTA REPRODUCCIÓN / ÁLBUM */	
		
	.Music
		margin 0 auto
		overflow hidden
		padding-top 2em
		width 62.5em		
		
	/*VISTA DE REPRODUCCIÓN*/				
		
	.Playing
		float left
		
		&-image
			width 100%

		&.large
			width 23.4em
			
		.Description
			display none		
					
	.Play
		.Action
			font-size 1.7em	
			margin-right .9em
			
			&:last-child
				margin-right 0

	/*COMPONENTE SONG*/	

	.Song
		&:nth-child(even)
			margin-right 1em
			
	/*VISTA DE ÁLBUM*/					

	.Album		
		border-left 1px solid gris_claro
		float right
		padding 0 2em
		vertical-align top
		width 29.3em
		
		&-list		
			list-style none		
		
		&-item
			color gris_intermedio
			padding 1em	0
			&:first-child
				border-top 1px solid gris_claro
				
		.Song-name
			font-size 1.3em					